<div class="bg-white flex relative z-20 items-center">
	<div
		class="
			container
			mx-auto
			px-6
			flex flex-col
			justify-between
			items-center
			relative
			py-8
		"
	>
		<div class="flex flex-col mb-24">
			<h1
				class="
					font-light
					w-full
					text-center text-4xl
					sm:text-5xl
					text-gray-100
				"
			>
				Página en Mantenimiento.
			</h1>
		</div>
		<div class="block w-full mx-auto mt-6 md:mt-0 relative">
			<img
				src="../../../assets/images/img-working.svg"
				class="max-w-xs md:max-w-2xl m-auto"
			/>
		</div>
	</div>
</div>
