<header class="header-container">
	<div class="header-content">
		<!-- logo -->
		<div class="text-gray-100 text-lg font-semibold">
			<a
				routerLink="/main"
				routerLinkActive="active"
				class="flex items-center py-4 px-2"
			>
				<img
					src="./assets/images/markin-apps-logo.png"
					alt="Logo"
					class="h-10 w-10 mr-8"
				/>
				<span class="hover:text-black">Blogs & News</span>
			</a>
		</div>
		<!-- Navigation items -->
		<div class="flex items-center">
			<nav class="nav-container">
				<a
					routerLink="/main"
					routerLinkActive="active"
					class="nav-item"
					[class.nav-item-active]="
						hasRoute('user-register') ||
						hasRoute('login') ||
						hasRoute('main')
					"
				>
					Inicio
				</a>
				<a
					*ngIf="isSessionActive"
					routerLink="blogs-news"
					routerLinkActive="active"
					class="nav-item"
					[class.nav-item-active]="
						hasRoute('blogs-news') || hasRoute('detailed-info')
					"
				>
					Blog & News
				</a>
				<a
					routerLink="/contact"
					routerLinkActive="active"
					class="nav-item"
					[class.nav-item-active]="hasRoute('contact')"
				>
					Contacto
				</a>
				<a
					routerLink="/about"
					routerLinkActive="active"
					class="nav-item"
					[class.nav-item-active]="hasRoute('about')"
				>
					Acerca de
				</a>
				<div
					class="relative inline-block"
					[class.hidden]="
						hasRoute('login') || hasRoute('user-register')
					"
				>
					<div>
						<button
							type="button"
							(click)="showHideLogout()"
							*ngIf="isSessionActive"
							class="
								flex
								items-center
								justify-center
								w-full
								rounded-full
								px-px
								py-px
								text-gray-700
								focus:outline-none
								focus:ring-2
								focus:ring-primary
								hover:opacity-75
							"
						>
							<img
								src="./assets/images/profile-user.svg"
								alt="Logo"
								class="h-10 w-10 m-0"
							/>
						</button>
					</div>
					<div
						class="
							origin-top-right
							absolute
							right-0
							mt-2
							w-40
							rounded-md
							shadow-md
							bg-white
							z-40
						"
					>
						<div
							class="py-1 divide-y divide-gray-100"
							[class.hidden]="!status"
							*ngIf="authService.isLogged() | async"
							role="menu"
							aria-orientation="vertical"
							aria-labelledby="options-menu"
						>
							<a
								class="
									flex
									items-center
									block
									cursor-pointer
									px-4
									py-2
									text-sm text-gray-100
									hover:bg-gray-600 hover:text-black
								"
								role="menuitem"
							>
								<img
									src="./assets/images/user.svg"
									alt="Logo"
									class="h-4 w-4 m-2"
								/>
								<span class="flex flex-col">
									<span class="max-vertical-text-1">
										{{ userName }}
									</span>
								</span>
							</a>
						</div>
						<div
							class="py-1 divide-y divide-gray-100"
							[class.hidden]="!status"
							*ngIf="authService.isLogged() | async"
							role="menu"
							aria-orientation="vertical"
							aria-labelledby="options-menu"
						>
							<a
								(click)="onLogout()"
								class="
									flex
									items-center
									block
									cursor-pointer
									px-4
									py-2
									text-sm text-gray-100
									hover:bg-gray-600 hover:text-black
								"
								role="menuitem"
							>
								<img
									src="./assets/images/logout.svg"
									alt="Logo"
									class="h-4 w-4 m-2"
								/>
								<span class="flex flex-col">
									<span> Cerrar Sesión </span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<button
					routerLink="/user-register"
					routerLinkActive="active"
					type="button"
					class="btn-login"
					[class.hidden]="authService.isLogged() | async"
					[class.hidden]="!hasRoute('login')"
				>
					Regístrate
				</button>
				<button
					[class.hidden]="hasRoute('login')"
					routerLink="/login"
					routerLinkActive="active"
					type="button"
					class="btn-login"
					*ngIf="!isSessionActive"
					[class.hidden]="hasRoute('login')"
				>
					Iniciar Sesión
				</button>
			</nav>
			<!-- button style for small devices -->
			<button class="lg:hidden flex flex-col ml-4">
				<span class="w-6 h-1 bg-gray-100 mb-1"> </span>
				<span class="w-6 h-1 bg-gray-100 mb-1"> </span>
				<span class="w-6 h-1 bg-gray-100 mb-1"> </span>
			</button>
		</div>
	</div>
</header>
