<div class="bg-white flex relative z-20 items-center">
	<div class="container mx-auto px-6 block relative py-16 md:block lg:flex">
		<div
			class="
				block
				ml-0
				w-3/3
				md:ml-20
				lg:w-3/6
				flex flex-col
				relative
				z-20
			"
		>
			<span
				class="
					w-full
					mb-4
					text-primary text-sm
					font-medium
					md:text-md md:mb-6
				"
			>
				BLOGS & NEWS</span
			>
			<h1
				class="
					flex flex-col
					text-gray-100 text-3xl
					md:text-5xl
					mb-4
					md:mb-6
				"
			>
				Descubre los Blogs y Noticias que Tenemos Para Ti.
			</h1>
			<h2 class="text-sm text-gray-100 md:text-lg">
				¡Que esperas! No te pierdas la oportunidad de aprovechar al
				máximo las novedades de Blogs & News.
			</h2>
		</div>
		<div class="block 3/3 lg:w-3/6 relative">
			<img
				src="./assets/images/img-main-page.svg"
				class="max-w-sm md:max-w-lg m-auto"
			/>
		</div>
	</div>
</div>
